 <!--  <form action="/videos" method="POST">
    <label for="title">Add Video:</label><br>
    <input type="input" id="title" placeholder="Enter Title"><br>
    <input type="input" id="url" placeholder="Enter Youtube link"><br>
    <input type="input" id="description" placeholder="Enter Description"><br>
    <input type="submit">
  </form><br> -->  

<%= link_to "playlists", playlists_path %>

<%= form_tag("/videos", method: "post") do %>
  <%= label_tag('video[title]','Title:') %>
  <%= text_field_tag('video[title]') %><br>

  <%= label_tag('video[description]',"Description:") %>
  <%= text_field_tag('video[description]') %><br>

  <%= label_tag('video[url]',"Youtube ID:") %>
  <%=text_field_tag('video[url]') %><br>

  <%= submit_tag("submit") %>
<% end %>  


<% @videos.each do |vid| %>
  <h3><a href="/videos/<%= vid.id %>"><%= vid.title %></a></h3><br>
<% end %> 