<h2><%= @video.title %></h2><%= link_to 'edit', edit_video_path(@video) %>

<%= link_to 'delete', @video, method: :delete %>

<%= @video.description %>
<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video.url %>" frameborder="0" allowfullscreen></iframe><br>


<%= form_tag("/videos/#{@video.id}/comments", method: "post") do %>
  <%= label_tag('comment[description]',"Add Comment:") %>
  <%= text_field_tag('comment[description]') %>

  <%= hidden_field_tag('comment[commentable_id]',"#{@video.id}") %>
  <%= hidden_field_tag('comment[commentable_type]',"Video") %>

  <%= submit_tag("submit") %>   
<% end %> 



<% @comments.each do |x| %>
  <a href="/videos/<%= x.commentable_id %>/comments/<%= x.id %>"><%= x.description %></a><br>
<% end %>
  

 

