<%= form_for @play do |f| %>
  Title: <%= f.text_field :title %>
    
  <%= f.submit %>
<% end %>  

<% if (@playlist) %>
  <% @playlist.each do |playlist| %>
    <a href="/playlists/<%= playlist.id %>"><%= playlist.title %></a><br>
  <% end %>  
<% else %>
  <% @playlists.each do |x| %>
    <a href="/playlists/<%= x.id %>"><%= x.title %></a><br>
  <% end %>  
<% end %>  