<%= link_to 'back', playlists_path %><br>

<h2><%= @playlist.title %></h2>

<!-- <%= form_tag("/playlists/#{@playlist.id}", method: "get") do %>
  <%= label_tag('video[title]','Title:') %>
  <%= text_field_tag('video[title]') %>
  <%= submit_tag("Add") %>
<% end %> -->  
<h3>Select Video</h3>

<%= link_to "delete", [@playlist],method: :delete %>

<%= form_for @playlist do |f| %>
  <%= collection_check_boxes(:playlist_vids, :video_ids, Video.all, :id, :title) %>

  <%= f.submit %>
<% end %>  

<% @playArr.each do |vid| %>
  <h3><%= vid.title %></h3><br> 
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= vid.url %>" frameborder="0" allowfullscreen></iframe><br>

<% end %>  


<%= form_tag("/playlists/#{@playlist.id}/comments", method: "post") do %>
    <%= label_tag('comment[description]',"Add Comment:") %>
    <%= text_field_tag('comment[description]') %>

    <%= hidden_field_tag('comment[commentable_id]',"#{@playlist.id}") %>
    <%= hidden_field_tag('comment[commentable_type]','Playlist') %>

    <%= submit_tag("Add Comment") %>   
<% end %> 

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <%= comment.description %><br>
<% end %>  
















